@import "./common/";
@import "./components/header/";

/* Common styles */

body {
	color: $dark-cl;
	font-size: $main-fz;
	line-height: $main-lh;
	font-family: "Heebo", sans-serif;
	// чобы не было горизонтальной прокрутки
	overflow-x: hidden;
	overflow-y: auto;
	&.opened {
		display: block;
		overflow-y: hidden;
	}
}

.container {
	padding: 0 $gap;
	margin: 0 auto;
	// устанавливаем макс ширину контейнера, прибавляя к чистой его ширине паддинг 20+20px
	max-width: 896px;
	position: relative;
	width: 100%;
}
.container-wide {
	padding: 0 $gap;
	margin: 0 auto;
	// устанавливаем макс ширину контейнера, прибавляя к чистой его ширине паддинг 20+20px
	max-width: 1040px;
	position: relative;
	width: 100%;
}
/* Header */

.header {
	padding-top: 50px;
	&__top {
		height: 50px;
		background-color: #ffffff;
		padding: 14px 0;
		text-align: end;
		position: fixed;
		top: 0;
		width: 100%;
		@include media-min(600) {
			padding: 27px 0;
			height: auto;
		}
		@include media-min(767) {
			padding-top: 82px;
		}
		z-index: 9;
	}
}

/* Nav */
.nav {
	background: $light-cl;
	display: none;
	position: absolute;
	// делаем меню немного меньше ширины экрана
	width: calc(100% - $gap);
	left: 0;
	right: 0;
	top: 36px;
	margin: auto;
	// центрируем контент
	text-align: center;
	// чтобы всегда была сверху остального контента
	z-index: 10;
	// для экранов больше 600px
	@include media-min(600) {
		display: block;
		position: relative;
		top: 0;
		text-align: end;
		background-color: $light-cl;
	}

	&.opened {
		display: block;
		overflow-y: auto;
	}

	&__item {
		// display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.45;
		// text-align: center;
		color: #000000;
		padding: 10px 0;
	}
	li {
		@include media-min(600) {
			display: inline-block;
			padding: 0;
		}
	}
	li + li {
		@include media-min(600) {
			margin-left: 33px;
		}
	}
}
/* Buttons */
.toggle-nav {
	display: inline-block;
	background-color: transparent;
	vertical-align: middle;
	transition: 0.1s linear;
	@include media-min(600) {
		display: none;
	}
	// @include media-min(767) {
	// 	aria-expanded = "false";
	// }
	img {
		width: 30px;
		height: 18px;
		display: inline-block;
		// фиксим позиционирование картинки
		vertical-align: middle;
	}
}
.toggle-nav[aria-expanded="true"] {
	transform: scale(0.8);
}

/* Hero */
.hero {
	text-align: center;
	padding: 33px 0 58px;

	@include media-min(767) {
		display: flex;
		flex-direction: row-reverse;
		column-gap: 106px;
		padding: 128px 0 71px;
		text-align: left;
	}

	&__image {
		width: 170px;
		height: 170px;
		position: relative;
		margin: 0 auto 43px;
		@include media-min(767) {
			flex-shrink: 0;
			width: 243px;
			height: 243px;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 9px;
			right: 3px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			z-index: 1;
			background-color: #edf7fa;
		}

		img {
			position: relative;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			min-width: 100%;
			z-index: 2;
		}
	}
	&__title {
		font-weight: 700;
		font-size: clamp(32px, (1rem + 5vw), 44px);
		line-height: 1.25;

		color: $dark-cl;
		margin-bottom: 21px;
		@include media-min(767) {
			// font-size: 44px;
			margin-bottom: 40px;
		}
	}
	&__text {
		@extend %text;
		margin-bottom: 27px;
		@include media-min(767) {
			margin-bottom: 38px;
		}
	}
	&__contant {
		padding-top: 18px;
	}

	&__button {
		display: inline-block;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.45;
		color: #ffffff;
		background-color: $main-cl;
		padding: 9px 20px 9px;
		border-radius: 2px;
		&:focus,
		&:hover,
		&:active {
		}
	}
}
/* resent-post-section */
.section-wrapper {
	background: #edf7fa;
}
.resent-post-section {
	padding-bottom: 40px;
	@include media-min(600) {
		padding-bottom: 32px;
	}
}

.section-header {
	@include flex(center, center, row);
	&__title {
		font-size: 18px;
		line-height: 3.33;
		color: $dark-cl;
		text-align: center;
	}
	&__link {
		color: $secondary-cl;
		display: none;
		font-size: 16px;
		line-height: 1.5;
	}
	@include media-min(600) {
		justify-content: space-between;
		&__title {
			text-align: left;
		}
		&__link {
			display: block;
		}
	}
}

.posts-list {
	@include flex(center, center, row);
	flex-wrap: wrap;
	row-gap: 17px;
	column-gap: 20px;
	// &:nth-last-child(1) {
	// 	margin-bottom: 41px;
	// }
	// .post-list__item

	&__item {
		background: #ffffff;
		box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
		border-radius: 4px;
		padding: 12px 21px 22px 19px;
		// max-width: 335px;
		flex: 1 1 335px;
		// flex-grow: 1;
	}
}
.post {
	// .post__description
	color: $dark-cl;

	&__description {
		display: grid;
		grid-template-rows: repeat(3, min-content);
		grid-template-columns: 0.4fr min-content 0.6fr;
		row-gap: 12px;
		column-gap: 24px;
	}

	// .post__title

	&__title {
		grid-column: span 3;
		font-weight: 700;
		font-size: 22px;
		line-height: 1.36;
	}

	// .post__date

	// .post__design-type
	&__date {
		text-align: left;
		@extend %text;
	}
	&__divider {
		height: 21px;
		border-left: #000000 1.5px solid;
	}
	&__design-type {
		text-align: center;
		@extend %text;
	}

	// .post__text

	&__text {
		margin-top: 7px;
		grid-column: span 3;
	}
}
/* Section featured-section  */

.featured-section {
	padding-bottom: 100px;
	.section-title {
		font-size: 18px;
		line-height: 3.33;
		color: $dark-cl;
		text-align: center;
	}
	@include media-min(767) {
		padding-bottom: 83px;
		.section-title {
			text-align: left;
		}
	}

	.features-list {
		// .features-list__item
		&__item {
		}
	}
}
.feature {
	@include flex(center, stretch, column);

	row-gap: 17px;

	&__img {
		border-radius: 6px;

		img {
			width: 100%;
			vertical-align: middle;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.47;
		color: $dark-cl;
	}
	&__year {
		display: inline-block;

		padding: 3px 7px;
		font-weight: 900;
		font-size: 18px;
		line-height: 1.5;
		color: #ffffff;

		background: #142850;
		border-radius: 16px;
	}
	&__year-n-type {
	}

	// .feature__type

	&__type {
		margin-left: 22px;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.45;
		color: $light-cl;
	}

	// .feature__text

	&__text {
		margin-top: 7px;
		margin-bottom: 30px;
		@extend %text;
	}

	&__divider {
		border-bottom: 1px solid #e0e0e0;
	}

	+ .feature {
		padding-top: 30px;
		// @include media-min(767) {
		// 	padding-top: 46px;
		// }
	}
	&.mobile-hidden {
		display: none;
	}

	@include media-min(767) {
		&.mobile-hidden {
			display: grid;
		}
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 0.3fr 0.3fr 0.4fr min-content;
		align-items: center;
		column-gap: 18px;
		row-gap: 15px;
		text-align: left;
		&__divider {
			grid-column: span 2;
		}
		&__img {
			grid-row: span 3;
			width: fit-content;
		}
		&__title {
			text-align: left;
		}
		&__text {
			margin-bottom: 10px;
		}
	}
}
/* Footer */

.footer {
	padding: 50px 0;
}
.footer-socials-row {
	text-align: center;
}
.socials-list {
	@include flex(center, center, row);
	column-gap: 35px;
	// .socials-list__item

	&__item {
	}

	// .socials-list__link

	&__link {
	}
}
.footer-copyright {
	margin-top: 26px;
	text-align: center;
}
