//  Variables
// main fonts
$main-fz: 16px;
$main-lh: 1.4;
// Primary color
$main-cl: #ff6464;
// Secondary color
$secondary-cl: #00a8cc;
// Dark color
$dark-cl: #21243d;
// Light color
$light-cl: rgba(134, 149, 164, 0.7);
$gap: 20px;
